
<div class="content">
    <% if (code === "00") { %>
        <p style="text-align: center">GD thành công</p>
    <% } else { %>
        <p style="text-align: center; color: red">GD thất bại</p>
    <% } %>
    <p style="text-align: center">
        <a class="btn btn-default" href="http://localhost:2709/">Về trang chủ</a>
    </p>
</div>