.custom-footer {
  background-color: #857777;
  color: #ecf0f1;
  padding: 40px 20px;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: 15px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.custom-footer h4 {
  color: #efd294;
  margin-bottom: 20px;
}

.custom-footer a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-footer a:hover {
  color: #3498db;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #34495e;
}

.ant-typography {
  color: #ecf0f1;
}
